@model FileUploadModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <div class="upload-container">

        <div id="file-upload-container" style="display: block">
            <form id="upload-form" asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
                <div class="mb-1">
                    <label asp-for="Name">Your Name</label>
                    <br />
                    <input asp-for="Name" type="text" style="background-color: #b7c297; opacity: 0.5;" />
                    <br />
                    <span id="error-name" asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Files">Select files</label>
                    <br />
                    <input asp-for="Files" name="Files" type="file" class="form-control" accept="image/*, video/*" multiple />
                    <span id="error-files" asp-validation-for="Files" class="text-danger"></span>
                </div>            
                <button type="submit" class="btn btn-uploader m-1">Upload</button>
            </form>
        </div>

        <div id="file-upload-progress-container" style="display: none">
            <div id="progress-bar-container" style="position: relative; width: 100%; height: 100%;">
                <div id="progress-bar" style="width: 0%;">
                    <p id="progress-percent">0%</p>
                </div>
            </div>
        </div>

        <div id="file-upload-success-container" style="display: none">
            <p>Upload complete!</p>
            <button class="btn btn-uploader" onclick="ShowElement('file-upload-container')">Upload more here</button>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        let errorName = document.getElementById("error-name");
        let errorFiles = document.getElementById("error-files");

        let progressBar = document.getElementById("progress-bar");
        let progressPercent = document.getElementById("progress-percent");

        let uploadForm = document.getElementById("upload-form");

        $(function () {
            $('form').submit(function (e) {
                e.preventDefault();

                errorName.innerHTML = "";
                errorFiles.innerHTML = "";

                var formData = new FormData($(this)[0]);

                if (UploadInvalid(formData)) return;

                ShowElement("file-upload-progress-container");

                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    xhr: function () {
                        var xhr = new XMLHttpRequest();

                        xhr.upload.onprogress = function (e) {
                            if (e.lengthComputable) {
                                var percent = parseInt((e.loaded / e.total) * 100);
                                UpdateProgressBar(percent);
                            }
                        };

                        return xhr;
                    },
                    success: function (response) {
                        console.log(response)
                        ShowElement("file-upload-success-container");
                    },
                    error: function (error) {
                        console.warn(error)
                    }
                });

                uploadForm.reset();
            });
        });

        function UploadInvalid(formData) {
            let isInvalid = false;

            //Check name is not null
            var nameFieldValue = $('input[name="Name"]').val();
            if (!nameFieldValue) {
                errorName.innerHTML = "Please enter a name"
                isInvalid = true;
            }

            //Check if filesize is too large
            var totalFileSize = 0;
            // Calculate total file size
            formData.forEach(function (value, key) {
                if (value instanceof File) {
                    totalFileSize += value.size;
                }
            });

            // Set a maximum allowed file size (in bytes)
            var maxFileSize = 1073741824; // 1GB

            if (totalFileSize == 0) {
                errorFiles.innerHTML = "Please add some files"
                isInvalid = true;
            }
            else if (totalFileSize > maxFileSize) {
                // Display an error message or take appropriate action
                errorFiles.innerHTML = "The maximum file size of 1gb exceeded"
                isInvalid = true;
            }

            return isInvalid;
        }

        function UpdateProgressBar(percent) {

            if (percent != 100) {
                progressBar.style.width = percent + "%";
                progressPercent.innerHTML = percent + "%"
            }
            else {
                progressBar.style.width = percent + "%";
                progressPercent.innerHTML = "Processing upload..."
            }

            console.log(percent);
        }

        function ShowElement(elementId){
            let element = document.getElementById(elementId);

            document.getElementById("file-upload-container").style.display = "none";
            document.getElementById("file-upload-progress-container").style.display = "none";
            document.getElementById("file-upload-success-container").style.display = "none";
            
            element.style.display = "block";
        }
    </script> 

</div>
