html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url(/images/background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 53% 57%;
    
    font-family: "PT Serif", serif;
    font-style: normal;
    font-weight: bold;
}

.upload-container {
    padding: 15px;
    width: 75%;
    max-width: 350px;
    background-color: rgba(128,128,128, 0.75);
    border-radius: 10px;
    color: black;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-uploader {
    background-color: #B7C297;
    border-color: #B7C297;
    color: #000000;
    font-weight: bold;
}

#progress-bar-container {
    width: 100%;
    background-color: grey
}

#progress-bar {
    height: 30px;
    background-color: #B7C297;
}

.title {
    width: 100%;
    text-align: center;
}

.title > p {
    margin: 0;
    line-height: 1.25;
    font-size: 20px;
    font-family: "Dancing Script", cursive;
}